@font-face {
  font-family: 'push-menu-custom';
  src: url('../font/push-menu-custom.eot?95902514');
  src: url('../font/push-menu-custom.eot?95902514#iefix') format('embedded-opentype'), url('../font/push-menu-custom.woff?95902514') format('woff'), url('../font/push-menu-custom.ttf?95902514') format('truetype'), url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'push-menu-custom';
    src: url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  }
}
*/
/* line 22, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/push-menu-custom */
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "push-menu-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/push-menu-custom */
.i-menu:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/push-menu-custom */
.i-close:before {
  content: '\e801'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 15, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
body {
  background: linear-gradient(to right, #35c3c1, #00d6b7); }

/* line 23, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
img {
  width: 100%; }

/* line 27, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
.mrloader .inner-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  -webkit-perspective: 100px;
  perspective: 100px; }

/* line 38, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
.mrloader .inner-text {
  top: 50%; }

/* line 42, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
.mrloader .side {
  background: url("../images/logo.svg");
  height: 100px;
  width: 100px;
  background-size: cover;
  -webkit-animation: rotate-side 3s infinite ease-in-out;
  animation: rotate-side 3s infinite ease-in-out; }

@-webkit-keyframes rotate-side {
  /* line 52, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg); }

  /* line 56, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  40% {
    -webkit-transform: rotateX(735deg) rotateY(0deg); }

  /* line 60, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  47%, 50% {
    -webkit-transform: rotateX(720deg) rotateY(0deg); }

  /* line 64, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  90% {
    -webkit-transform: rotateX(720deg) rotateY(735deg); }

  /* line 68, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  97%, 100% {
    -webkit-transform: rotateX(720deg) rotateY(720deg); } }

@keyframes rotate-side {
  /* line 74, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }

  /* line 78, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  40% {
    -webkit-transform: rotateX(735deg) rotateY(0deg);
            transform: rotateX(735deg) rotateY(0deg); }

  /* line 82, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  47%, 50% {
    -webkit-transform: rotateX(720deg) rotateY(0deg);
            transform: rotateX(720deg) rotateY(0deg); }

  /* line 86, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  90% {
    -webkit-transform: rotateX(720deg) rotateY(735deg);
            transform: rotateX(720deg) rotateY(735deg); }

  /* line 90, /Users/pedrosantos/Dropbox/Graphic Design/Semestre 6/Web Development/exercise-4/scss/components/main */
  97%, 100% {
    -webkit-transform: rotateX(720deg) rotateY(720deg);
            transform: rotateX(720deg) rotateY(720deg); } }
